<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>MonikaLogs</title>

  </head>

  <body>
    <header>
      <div class="inner">
        <a href="{{ '/' | absolute_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }} </h2>
        
          <a href="http://darviz.mybluemix.net/#/" class="button"> Google Scholar </a>

      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          {{ content }}
        </section>

        <aside id="sidebar">
            <h2>Latest news</h2>
            <ul>
              <li>Item 1</li>
              <br />
              <li>Item 2</li>
            </ul>
            
            <br />
            <h2> Talks </h2>
            <a href="../blogs/talks.html">Read More ></a></li>

            <br />
            <br />
            <h2> Author </h2>
            <h2> Monika Gupta </h2>
            <a href="../blogs/bio.html">About me ></a></li>

        </aside>
      </div>
    </div>

  </body>
</html>